.inputRegister input  {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    
    
}
    
.select_register {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #F8F5F0;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    align-items: center;
}
.buttonInput{
    width: 25%;
    background-color:#e9e9e9;
    color: black;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
   
    outline-width: 0;
}
.buttonInput:hover {
    background-color: #F1C116;
    color: #EFF2F5;
    cursor: pointer;
}
