@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


.gridItems {
    gap: '2.5rem';
    padding: 2.5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100%;
    font-size: 15px;
    padding-top: 36px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    width: 95%;
   

}

.itens-center {    
    margin-top: -30px

}


p .gridItems {
    font-size: 15px;
}

h4 {
    padding-bottom: 10px;
}