@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


.gridItems {
    gap: '2.5rem';
    padding: 2.5rem;
    text-align: center;
    background-color: rgb(19, 18, 18);
    color: white;
    height: 250px;
    font-size: 15px;
    padding-top: 36px;
    

}

p .gridItems {
    font-size: 15px;
}

h4 {
    padding-bottom: 10px;
}

hr {
    width: 2%;
    
   
    transform: translate(-50%, -50%);
   
}
