.card_rigth {
  padding-top: 15px;
  background-color: rgb(19, 18, 18);
  color: white;
  margin-top: 10px;



}

.img_rigth {
  float: right;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-left: 20px;
  border-radius: 50px;
}


.text_card_rigth {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: right;
  margin-right: 3px;



}

.card_left {
  padding-top: 15px;
  background-color: rgb(100, 98, 98);
  color: white;
  margin-top: 5px;



}

.img_left {
  float: left;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-right: 20px;
  border-radius: 50px;
}


.text_card_left {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: left;
  margin-right: 3px;



}
.card_drink {
  padding-top: 15px;
  background-color: rgb(100, 98, 98);
  color: white;
  margin-top: 5px;
  padding-bottom: 15px;



}

.img_drink {
  float: left;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-right: 20px;
  border-radius: 50px;
}


.text_card_drink {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: left;
  margin-right: 3px;



}
.card_drink2 {
  padding-top: 15px;
  background-color: rgb(100, 98, 98);
  color: white;
  margin-top: 5px;
  padding-bottom: 15px;



}

.img_drink2 {
  float: left;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-right: 20px;
  border-radius: 50px;
}


.text_card_drink2 {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: left;
  margin-right: 3px;



}
