.card_rigth {
  padding-top: 15px;
  color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  
  
  }
.img_rigth {
  float: right;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-left: 20px;
  border-radius: 50px;
}

.text_card_rigth {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: right;
  margin-right: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  max-width: 75%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card_left {
  padding-top: 15px;
  color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
.img_left {
  float: left;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-left: 20px;
  border-radius: 50px;
}

.text_card_left {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: left;
  margin-right: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  max-width: 75%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.modelDish {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card_drink {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  max-width: 50%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.img_drink {
  float: left;
  max-width: 20%;
  width: 150px;
  /* Espaçamento entre a imagem e o texto */

}


.card_drink2 {
  padding-top: 15px;
  background-color: rgb(100, 98, 98);
  color: white;
  margin-top: 5px;
  padding-bottom: 15px;




}

.img_drink2 {
  float: left;
  height: 100px;
  /* Espaçamento entre a imagem e o texto */
  padding-right: 20px;
  border-radius: 50px;
}


.text_card_drink2 {
  padding-top: 5px;
  /* Espaçamento entre o topo do texto e a imagem */
  text-align: left;
  margin-right: 3px;



}